*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/modules
/.idea/vcs.xml
/.idea/misc.xml
/.idea/gradle.xml
/.idea/compiler.xml
/.idea/deploymentTargetDropDown.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/buildSrc/build
/buildSrc/.gradle
dev.properties